@import url("common.css");

body {
	margin: 1em 0 0 0;
	display: grid;
	grid-gap: 2vw 2vw;
	grid-template-columns: 20vw auto 20vw;
}

header {
	grid-column: 1/4;
}

header > span {
	margin: 1em;
	display: flex;
	align-items: flex-end;
}

header span.logo {
	text-transform: uppercase;
	text-align: center;
	font-style: italic;
	color: #aaa377;
}

header span.logo p {
	margin: 0;
}

body > header > span > .search {
	margin-left: auto;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #8cacbb;
}

nav ul li {
	display: inline;
	border: 1px solid #8cacbb;
	margin-left: 1em;
}

nav ul li:hover {
	background-color: #dee7ec;
}

nav li a {
	text-decoration: none;
	color: #436976;
	padding: 0.5em
}

nav li.current_page_item, nav li.current_page_parent, nav li.current_page_ancestor {
	background-color: #dee7ec;
	border-bottom: 1px solid #dee7ec;
}

nav.top {
	background-color: #dee7ec;
	border-bottom: 1px solid #8cacbb;
	padding: 0.2em;
	font-size: 0.9em;
	min-height: 1.3em;
}

aside div.widget {
	border: 1px solid #8cacbb;
	margin: 0 1em 0 1em;
}

aside p.widget-title {
	border-bottom: 1px solid #8cacbb;
	background-color: #dee7ec;
	margin: 0;
}

aside div.widget div {
	padding: 0.5em;
}

aside div.widget ul {
	padding-left: 10px;
	margin: 0;
}

div.wp-block-file {
	border: 1px solid #8cacbb;
	display: flex;
	padding: 0.5em;
	background-color: #fff;
}

div.wp-block-file + div.wp-block-file {
	border-top: 0;
	margin-top: -1px;

}

div.wp-block-file:hover {
	background-color: #dee7ec;
}

div.wp-block-file > a:first-child {
	display: list-item;
	margin-left: 1em;
}

div.wp-block-file a.wp-block-file__button {
	margin-left: auto;
}

/* Footer */
div.footer {
	color: #666;
	font-size: 0.8em;
	overflow: auto;
}

/* Calendar */
div#calendar_wrap {
	margin: 5px;
	margin-left: 0px;
}

div#calendar_wrap table {
	width: 100%;
}

div#calendar_wrap td, div#calendar_wrap th {
	border: 0;
	background-color: transparent;
}

/* Disqus comment system cleanup */
div#disqus_thread {
	float: left;
	width: 100%;
	margin-top: 100px;
}

div#disqus_thread li {
	display: block;
}

div#dsq-new-post {
	margin-top: -20px !important;
}

div#dsq-global-toolbar, div.dsq-options, div#dsq-comments-title, div.dsq-item-trackback {
	display: none !important;
}

div#dsq-sort-by, div#dsq-sort-by + h3, div#dsq-subscribe, div.dsq-trackback-url {
	display: none !important;
}
